<div>
    <h2 id="page-heading">
        <span>Opportunities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-opportunity" [routerLink]="['/opportunity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Opportunity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="opportunities?.length === 0">
        <span>No opportunities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="opportunities && opportunities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Contract Id</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Sol</span></th>
                    <th scope="col" ><span>Agency</span></th>
                    <th scope="col" ><span>Sub Tier</span></th>
                    <th scope="col" ><span>Office</span></th>
                    <th scope="col" ><span>Posteddate</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Basetype</span></th>
                    <th scope="col" ><span>Setasidecode</span></th>
                    <th scope="col" ><span>Setaside</span></th>
                    <th scope="col" ><span>Responsedeadline</span></th>
                    <th scope="col" ><span>Naicscode</span></th>
                    <th scope="col" ><span>Classificationcode</span></th>
                    <th scope="col" ><span>Popstate</span></th>
                    <th scope="col" ><span>Popzip</span></th>
                    <th scope="col" ><span>Popcountry</span></th>
                    <th scope="col" ><span>Active</span></th>
                    <th scope="col" ><span>Organizationtype</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let opportunity of opportunities ;trackBy: trackId">
                    <td><a [routerLink]="['/opportunity', opportunity.id, 'view']">{{ opportunity.id }}</a></td>
                    <td>{{ opportunity.contractId }}</td>
                    <td>{{ opportunity.title }}</td>
                    <td>{{ opportunity.sol }}</td>
                    <td>{{ opportunity.agency }}</td>
                    <td>{{ opportunity.subTier }}</td>
                    <td>{{ opportunity.office }}</td>
                    <td>{{ opportunity.posteddate | date:'mediumDate' }}</td>
                    <td>{{ opportunity.type }}</td>
                    <td>{{ opportunity.basetype }}</td>
                    <td>{{ opportunity.setasidecode }}</td>
                    <td>{{ opportunity.setaside }}</td>
                    <td>{{ opportunity.responsedeadline | date:'mediumDate' }}</td>
                    <td>{{ opportunity.naicscode }}</td>
                    <td>{{ opportunity.classificationcode }}</td>
                    <td>{{ opportunity.popstate }}</td>
                    <td>{{ opportunity.popzip }}</td>
                    <td>{{ opportunity.popcountry }}</td>
                    <td>{{ opportunity.active }}</td>
                    <td>{{ opportunity.organizationtype }}</td>
                    <td>{{ opportunity.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/opportunity', opportunity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/opportunity', opportunity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(opportunity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
