<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="opportunity">
            <h2><span>Opportunity</span> {{ opportunity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Contract Id</span></dt>
                <dd>
                    <span>{{ opportunity.contractId }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ opportunity.title }}</span>
                </dd>
                <dt><span>Sol</span></dt>
                <dd>
                    <span>{{ opportunity.sol }}</span>
                </dd>
                <dt><span>Agency</span></dt>
                <dd>
                    <span>{{ opportunity.agency }}</span>
                </dd>
                <dt><span>Sub Tier</span></dt>
                <dd>
                    <span>{{ opportunity.subTier }}</span>
                </dd>
                <dt><span>Office</span></dt>
                <dd>
                    <span>{{ opportunity.office }}</span>
                </dd>
                <dt><span>Posteddate</span></dt>
                <dd>
                    <span>{{ opportunity.posteddate }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ opportunity.type }}</span>
                </dd>
                <dt><span>Basetype</span></dt>
                <dd>
                    <span>{{ opportunity.basetype }}</span>
                </dd>
                <dt><span>Setasidecode</span></dt>
                <dd>
                    <span>{{ opportunity.setasidecode }}</span>
                </dd>
                <dt><span>Setaside</span></dt>
                <dd>
                    <span>{{ opportunity.setaside }}</span>
                </dd>
                <dt><span>Responsedeadline</span></dt>
                <dd>
                    <span>{{ opportunity.responsedeadline }}</span>
                </dd>
                <dt><span>Naicscode</span></dt>
                <dd>
                    <span>{{ opportunity.naicscode }}</span>
                </dd>
                <dt><span>Classificationcode</span></dt>
                <dd>
                    <span>{{ opportunity.classificationcode }}</span>
                </dd>
                <dt><span>Popstate</span></dt>
                <dd>
                    <span>{{ opportunity.popstate }}</span>
                </dd>
                <dt><span>Popzip</span></dt>
                <dd>
                    <span>{{ opportunity.popzip }}</span>
                </dd>
                <dt><span>Popcountry</span></dt>
                <dd>
                    <span>{{ opportunity.popcountry }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ opportunity.active }}</span>
                </dd>
                <dt><span>Organizationtype</span></dt>
                <dd>
                    <span>{{ opportunity.organizationtype }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ opportunity.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opportunity', opportunity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
