<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="opportunityOpportunity">
            <h2><span>Opportunity Opportunity</span> {{ opportunityOpportunity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Contract Id</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.contractId }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.title }}</span>
                </dd>
                <dt><span>Sol</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.sol }}</span>
                </dd>
                <dt><span>Agency</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.agency }}</span>
                </dd>
                <dt><span>Sub Tier</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.subTier }}</span>
                </dd>
                <dt><span>Office</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.office }}</span>
                </dd>
                <dt><span>Posteddate</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.posteddate }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.type }}</span>
                </dd>
                <dt><span>Basetype</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.basetype }}</span>
                </dd>
                <dt><span>Setasidecode</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.setasidecode }}</span>
                </dd>
                <dt><span>Setaside</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.setaside }}</span>
                </dd>
                <dt><span>Responsedeadline</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.responsedeadline }}</span>
                </dd>
                <dt><span>Naicscode</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.naicscode }}</span>
                </dd>
                <dt><span>Classificationcode</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.classificationcode }}</span>
                </dd>
                <dt><span>Popstate</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.popstate }}</span>
                </dd>
                <dt><span>Popzip</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.popzip }}</span>
                </dd>
                <dt><span>Popcountry</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.popcountry }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.active }}</span>
                </dd>
                <dt><span>Organizationtype</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.organizationtype }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ opportunityOpportunity.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opportunity-opportunity', opportunityOpportunity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
